$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.container-fluid {
  margin: 0;
  padding: 0;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Navigation */

.header {
  background-color: #0d223f;
  margin: 0;
  width: 100%;
  .logo {
    float: left;
    width: 100%;
  }
  .logo img {
    width: 100%;
    padding: 2% 10%;
  }
  .nav {
    width: 100%;
    float: left;
    background-color: #ffd000;
  }
  .nav ul {
    width: 100%;
    margin: 0;
  }
  .nav li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    width: 19%;
    padding: 1% 0;
    color: #0d223f;
    font-size: 18px;
    text-align: center;
  }
  .nav a {
    color: #0d223f;
  }

  .nav .social-media {
    width: 15%;
    height: 15%;
  }
  @media screen and (max-width: 1012px) {
    .nav li {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 905px) {
    .logo {
      float: left;
      width: 100%;
    }

    .logo img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 1% 2%;
    }

    .nav {
      width: 100%;
      float: left;
    }

    .nav li {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 708px) {
    .nav li {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 635px) {
    .nav li {
      font-size: 20px;
      display: block;
      width: 100%;
      text-align: center;
      padding: 2%;
    }
  }
}

/* Sign Up */

.sign-up {
  background-image: url("../images/joint-finances.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: auto;

  .sign-up-box {
    width: 50%;
    position: relative;
    margin-top: 30%;
    margin-bottom: 5%;
    background-color: #fff;
    opacity: 0.85;
    padding: 1%;
    color: blue;
  }

  .form-group {
    width: 50%;
    float: left;
    padding: 1%;
  }

  .subscribe {
    float: left;
    margin: 0 1%;
  }
}
