$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.container-fluid {
  margin: 0;
  padding: 0;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Navigation */

.header {
  background-color: #ffb500;
  margin: 0;
  width: 100%;
  .logo {
    float: left;
    width: 30%;
  }
  .logo img {
    width: 100%;
    padding: 5% 10%;
  }
  .nav {
    width: 70%;
    float: left;
  }
  .nav ul {
    width: 100%;
    margin: 0;
  }
  .nav li {
    list-style: none;
  }
  .nav a {
    text-decoration: none;
    display: inline-block;
    width: 22%;
    padding: 5% 1.5%;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  @media screen and (max-width: 1012px) {
    .nav a {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 905px) {
    .logo {
      float: left;
      width: 100%;
    }

    .logo img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 2% 20% 0;
    }

    .nav {
      width: 100%;
      float: left;
    }

    .nav a {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 708px) {
    .nav a {
      font-size: 16px;
    }
  }
}
